; Example config file for the chimer script
; This is essentially just a Windows-style INI file

; We want to send our chimes to two specific "sinks" (PulseAudio-speak for "output devices")
; Warning: Sending to more than one sink will increase system load, possibly drastically
sink = tunnel.host2.local.alsa_output.usb-Creative_Technology_Ltd_Creative_Xmod-00.analog-surround-21
sink = alsa_output.pci-0000_00_14.2.analog-stereo

; compensation for latency compensation below
; here we can have negative values
delay = -0.5

; geographical location must be provided (needed to determine sunrise and sundown)
; here we have generic coordinates for "Toronto" (these numbers are copied from the "hebcal cities" command)
latitude = 43.63
longitude = -79.4

; default mode is carillon, which uses Westminster-style chimes
; you can change it to cuckoo, which sort of works but doesn't really chime like a real cuckoo clock
mode = carillon

; --- sink #1 -----------------------------------------------------------------
; PulseAudio calls this the alsa_output.pci-0000_00_14.2.analog-stereo sink, we just call it the "studio"
; the label is only used if you run the script in verbose (-v) and/or debug (--debug) mode
[alsa_output.pci-0000_00_14.2.analog-stereo]
label = studio

; our estimate of how long we should delay playing on this sink - must be positive and obvioiusly doesn't always work
delay = 0.5

; turn down volume during "night"
; volumes are matched one by one, the first matching one wins

; note that the script changes the actual hardware volume (because we want chimes to be played at a known volume)
; if you don't specify any volume the script will *change the hardware volume to 1* (full volume)

; Sunday 9:30am to 10:30am
; hours are in 24-hour time, from 0 to 23
; note that decimal points denote fractional hours (9.5 means 9:30, not 9:05)
; and days of the week are case-sensitive (sunday will not work, it must be Sunday)
volume = Sunday hour 9.5-10.5: 0.1

; every day from 22:00 to 23:59
volume = hour 22-23: 0.8

; workdays between office hours
; days of the week can be specified as U, M, T, W, R, F, S (if you don't get U and R you didn't study at Waterloo :-)
; if you write 24-hour hh:mm times you don't write the word "hour"
volume = M-F 9:00-17:00: 0.7

; remote school on Tuesday, Thursday and Friday at 6pm
; if you use Waterloo style single-letter codes you can just run them together without using a comma (this is how they do it at UW)
volume = TRF 18:00-21:00: 0

; every day during the 2nd fifth of the time between sundown and sunrise
; decidays are numbered 1 to 10 (1 to 5 are daytime, 6 to 10 are nighttime, and 8 the proverbial "middle of the night")
; alternative you can write them (morning, forenoon, midday, afternoon, evening, A, B, C, D, E) and omit the word "deciday"
volume =                  deciday 7: 0.85

volume =  deciday 8: 0.8,                          D-E: 0.75
volume =                                      hour 3-8: 0.75

; sleep in on weekends
; Sat-Sun is a valid range and will work correctly, as is Fri-Mon
volume = Sat-Sun hour 9-11: 0.75

; these speakers are way too loud at full volume so always turn it down a bit
volume =  0.9

; --- sink #2 -----------------------------------------------------------------
[tunnel.host2.local.alsa_output.usb-Creative_Technology_Ltd_Creative_Xmod-00.analog-surround-21]
label = family room
volume = hour 9: 0.5, hour 10: 0.9
volume =            deciday 6: 0.9, deciday 7: 0.85, deciday 8-10: 0.8
volume =                                                 hour 0-6: 0.8, hour 7-8: 0.85
