; Example config file for the chimer script
; This is essentially just a Windows-style INI file

; We want to send our chimes to two specific "sinks" (PulseAudio-speak for "output devices")
; Warning: Sending to more than one sink will increase system load, possibly drastically
sink = tunnel.host2.local.alsa_output.usb-Creative_Technology_Ltd_Creative_Xmod-00.analog-surround-21
sink = alsa_output.pci-0000_00_14.2.analog-stereo

; You should specify the location of your data directory
datadir = /u/aardvark/.cache/chimer

; compensation for latency compensation below
; here we can have negative values
delay = -0.5

; geographical location must be provided (needed to determine sunrise and sundown)
; here we have generic coordinates for "Toronto" (these numbers are copied from the "hebcal cities" command)
latitude = 43.63
longitude = -79.4

; default mode is carillon, which uses Westminster-style chimes
; valid options are carillon, cuckoo, and sysline (cuckoo doesn't really quite work)
mode = carillon

; only method=synth is known to work at the moment
; you can also use method=samples but that option is no longer guaranteed to work (and you'll have to download a lot of sound files)
method = synth

; to have synth working correctly you MUST have Timbres Of Heaven and tell the script where to find it
soundfont = /usr/local/share/sounds/sf2/Timbres Of Heaven (XGM) 3.94.sf2

; use Whittington chimes (8-bell version) instead of Westminster
; you can get a list of valid options by running chimer with the -l (or --list) option
melody = whittington


; --- sink #1 -----------------------------------------------------------------
; PulseAudio calls this the alsa_output.pci-0000_00_14.2.analog-stereo sink, we just call it the "studio"
; the label is only used if you run the script in verbose (-v) and/or debug (--debug) mode
[alsa_output.pci-0000_00_14.2.analog-stereo]
label = studio

; our estimate of how long we should delay playing on this sink - must be positive and obvioiusly doesn't always work
delay = 0.5

; turn down volume during "night"
; volumes are matched one by one, the first matching one wins

; note that the script changes the actual hardware volume (because we want chimes to be played at a known volume)
; if you don't specify any volume the script will *change the hardware volume to 1* (full volume)

; Sunday 9:30am to 10:30am
; times are best specified in hh:mm style 24-hour time, from 0 to 23 (you must use a colon, not a full stop)
; and days of the week are case-sensitive (sunday will not work, it must be Sunday)
volume = Sunday 9:30-10:30: 0.1

; every day from 22:00 to midnight
volume = 22:00-24:00: 0.8

; workdays between office hours; remote school on Tuesday, Thursday and Friday at 6pm
; days of the week can be specified in Waterloo style as U, M, T, W, R, F, S
; if you use Waterloo style single-letter codes you can just run them together without using a comma
; (NOTE: In real Waterloo style the days of the week come after the time range, e.g. 09:00-17:00 MTWRF. This is not supported.)
volume = M-F 9:00-17:00: 0.7
volume = TRF 18:00-21:00: 0

; use a lower volume at night, starting from the second watch (B) until sunrise (after E ends)
; the five night watches are A, B, C, D, E; parts of the day are morning, forenoon, midday, afternoon, evening
volume = B: 0.85, C: 0.8, D-E: 0.75
volume =            3:00-9:00: 0.75

; sleep in on weekends
; Sat-Sun is a valid range and will work correctly, as is Fri-Mon
volume = Sat-Sun 9:00-12:00: 0.75

; these speakers are way too loud at full volume so always turn it down a bit
volume =  0.9

; --- sink #2 -----------------------------------------------------------------
[tunnel.host2.local.alsa_output.usb-Creative_Technology_Ltd_Creative_Xmod-00.analog-surround-21]
label = family room
volume = 9:00-10:00: 0.5, 10:00-11:00: 0.9
volume =                            A: 0.9, B: 0.85, C-E: 0.8
volume =                                       0:00-7:00: 0.8, hour 7:00-9:00: 0.85
